<p style="text-align: right; font-size:0.8em;"> Thomas Bury<br><a href=mailto:thomas.bury@mcgill.ca> thomas.bury@mcgill.ca </a> </p>
<h1> Notebook 3: Sliders and buttons </h1>
Learning objectives of this notebook:

1. Include sliders for an additional dimension to the visualisation.
2. Understand how buttons can be used to observe different data.


<br>

In [2]:
# Import libraries
import numpy as np
import pandas as pd
import datetime
import plotly.express as px
import plotly.graph_objects as go

<br><br><h2> Sliders </h2>
<img src='images/slider.png' width='120'>
Sliders allow us to vary a parameter and receive immediate update of the visualisation. <br>
<a href=https://plotly.com/python/sliders/> Plotly documentation </a>

<br><h3> Back to the Gapminder dataset (the Plotly demo) </h3>
Here is an attractive example of a slider in action with the Gapminder dataset provide by plotly

In [4]:
df_gap = px.data.gapminder()
df_gap.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [60]:
fig = px.scatter(df_gap, 
                 x="gdpPercap", 
                 y="lifeExp", 
                 size="pop", 
                 size_max=55, 
                 color="continent", 
                 range_x=[100,100000], 
                 range_y=[25,90],            
                 animation_frame="year",
                 animation_group="country",
                 hover_name="country",
                 log_x=True, 
)

In [61]:
fig.write_html('figures/slider1.html')

<br><br><h3> The world happiness report</h3>
Slider based on survey year

In [23]:
# Import data
df_happy = pd.read_csv('datasets/world_happiness.csv')

In [32]:
df_happy.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year', 'Social support'],
      dtype='object')

In [33]:
fig = px.scatter(df_happy, 
                 x='Health (Life Expectancy)',
                 y='Freedom',
                 color='Happiness Score',
                 hover_data=['Country'],        
                 animation_frame="Year",
                 animation_group="Country",
)

In [31]:
fig.write_html('figures/slider_happy.html')

<br><br><br><h3> The Palmer Penguins</h3>

In [35]:
# Import Palmer penguin data (made available on Github)
df_penguins = pd.read_csv(
    'https://raw.githubusercontent.com/JohnMount/Penguins/main/penguins.csv')

In [57]:
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female

In [64]:
fig = px.scatter(df_penguins.dropna(),
                 x='bill_length_mm',
                 y='bill_depth_mm',
                 color='sex',
                 size='body_mass_g',
                 range_x=[30,65], 
                 range_y=[12,24],                   
                 animation_frame="species",
                )

In [65]:
fig.write_html('temp.html')

<br><br><h2> Buttons (time permitting)</h2>
<img src='images/button.png' width='40'>

Buttons can be used to

1. modify data presented
2. modify data attributes (e.g. heatmap, vs contour plot)
3. modify the plot layout
    
<a href=https://plotly.com/python/custom-buttons/> Plotly documentation </a>

<h3> Case study: Linear correlation in the penguin dataset </h3>
Let's create a button that toggles on and off a linear fit to a scatter plot.
<br><br>

In [199]:
# Get the plot data
df_plot = df_penguins[df_penguins['species']=='Adelie'][['bill_length_mm','body_mass_g']]
df_plot.dropna(inplace=True)

In [201]:
df_plot.head()

   bill_length_mm  body_mass_g
0            39.1       3750.0
1            39.5       3800.0
2            40.3       3250.0
4            36.7       3450.0
5            39.3       3650.0

In [210]:
# Compute linear correlation between bill length and body mass in Adelie penguins.
import scipy.stats as stats
x = df_plot['bill_length_mm']
y = df_plot['body_mass_g']
slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)

In [211]:
# Create a string of text for the linear equation
regression_text='y={}x+{},  R^2={}'.format(round(slope,2),round(intercept,2),round(r_value**2,2))          

# Create plot values for the linear fit
line_x = np.arange(30,50,0.1)
line_y = slope*line_x + intercept

In [212]:
regression_text

'y=94.5x+34.88,  R^2=0.3'

<br><h4> Build the figure </h4>
We need to use plotly graph objects here (not plotly express) as we need control of each trace individually.

In [215]:
fig = go.Figure()

# Trace for the data
fig.add_trace(
    go.Scatter(x=df_plot['bill_length_mm'],
               y=df_plot['body_mass_g'],
               mode='markers',
               showlegend=False,
              )
);

# Trace for the linear regression
fig.add_trace(
    go.Scatter(x=line_x,
               y=line_y,
               mode='lines',
               showlegend=False,
               visible=False,
              )
);

In [223]:
fig.update_layout(
    xaxis={'title':'Bill length (mm)',
           'range':[30,50],
          },
    yaxis={'title':'Body mass (g)',
           'range':[2500,5000]
          },
);

In [224]:
fig.write_html('temp.html')

In [218]:
regression_text

'y=94.5x+34.88,  R^2=0.3'

In [227]:
# Define the regression annotation to appear on the plot
regression_annotation={
            'x':0.95,
            'y':0.05,
            'text':regression_text,
            'xref':'paper',
            'yref':'paper',
            'showarrow':False,
            'font':{'color':'black',
                    'size':14
                   }
}

In [232]:
# Add the button!
fig.update_layout(
    updatemenus=[
        dict(
            type="buttons",
            x=0.2,
            y=1.1, # position of the button
            buttons=list([
                dict(label="Regression Off",
                      method="update",
                      args=[{"visible": [True, False]},
                            {"annotations": []},
                           ]
                      ),
                dict(label="Regression On",
                      method="update",
                      args=[{"visible": [True, True]},
                            {"annotations": [regression_annotation]}]
                      ),                
                ]),
        )
    ]);

In [233]:
fig.write_html('figures/button_example.html')

<br><br><h2> Practice area </h2>
Exercises:
1. Create a visualisation with a slider using a dataset from Notebook 2.